body{
    background-color: white;
    color: black;
    border: 5px solid greenyellow;
    margin: 10px;
    padding: 10px;
    
}

h1{
    text-align: center;
    border: 2px solid red;
    margin-left: 30%;
    margin-right: 30%;
    
}

button{
    cursor: pointer;
}
nav ul {
    display:block;
    gap: 20px;
    list-style:decimal;
    justify-content: center;
    margin-top: 10px;
}

.container{
    position: absolute;
    top: 390px;
    right: 120px;


}
img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 180px;
    right: 80px;

}
footer {
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
}